<!DOCTYPE html>
<html lang="en">
 
<head >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
    <title>ARTIOBIX</title>
 
<script src ="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
      <link href="css/styles.css" rel="stylesheet">
      

  
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href= 'css/clean-blog.css' rel="stylesheet" type='text/css'>

  <link href="css/team.css" rel="stylesheet">

  <link href= 'css/header.css' rel="stylesheet" type='text/css'>
 
  <!-- Custom fonts for this template -->
  <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
 
  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">
</head>
 
<body>

  <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
      <a class="navbar-brand" href="#"><img src="img/globe-grid.png" height="30" width="41">ARTOBIX</a>
      <ul class="navbar-nav mr-auto">
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto"> </ul>


       <li class="nav-item active"><a class="nav-link" href="/"><span class="fa fa-home fa-lg"></span> Home</a></li>
       <li class="nav-item"><a class="nav-link" href="/post"><span class="fa fa-list fa-lg"></span> New Post</a></li>
       <li class="nav-item"><a class="nav-link" href="/about"><span class="fa fa-info fa-lg"></span> About Us</a></li>
       <li class="nav-item"><a class="nav-link" href="/contact"><span class="fa fa-address-card fa-lg"></span> Contact Us</a></li>


                 </ul>
                  @if(!auth)
                    <span class="navbar-text">
                      <a class ="nav-link" href ="/login">
                      <span class="fa fa-sign-in"></span> Login</a>
                    </span>
                    <span class="navbar-text">
                      <a class ="nav-link" href ="/reg">
                      <span class="fa fa-sign-in"></span> Register</a>
                    </span>
                  @else
                    <span class="navbar-text">
                      <a class ="nav-link" href ="/logout">
                      <span class="fa fa-sign-in"></span>Logout</a>
                    </span>
                  @endif

        </ul> 
    </div>
  </nav>


  
 
 
  @!section('content')
 
  <footer class="footer">
    <div class="container">
        <div class="row">             
            <div class="col-md-4 col-sm-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/post">New Post</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-sm-2">
              <h5>Company</h5>
              <ul class="list-unstyled">
                 
                  <li><a href="#">About</a></li>
                  <li><a href="program.html">Affiliate Programs</a></li>
                 
              </ul>
          </div>
            
          <div class="col-md-4 align-self-center">
          
            <div class="text-center">
              <h5>Follow Us On</h5>
              <a href="https://twitter.com/el_alturas" class="btn btn-social-icon btn-twitter" target="_blank">
                <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
              </a>
              <a href="https://youtube.com/el_alturas" class="btn btn-social-icon btn-youtube" target="_blank">
                <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-youtube-square fa-stack-1x"></i>
            </span>
              </a>

              <a href="https://facebook.com/el_alturas" class="btn btn-social-icon btn-facebook" target="_blank">
                <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook-square fa-stack-1x"></i>
            </span>
              </a>

              <a href="https://linkedin.com/el_alturas" class="btn btn-social-icon btn-linkedin" target="_blank">
                <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-linkedin-square fa-stack-1x"></i>
            </span>
              </a>
            </div>

        </div>
       </div>
       <div class="row justify-content-center">             
            <div class="col-auto">
                <p>© Copyright 2021 Artiobix</p>
            </div>
       </div>
    </div>
</footer>
  
    









<script>
  function myFunction() {
    alert("I am an alert box!");
  }
  </script>





 
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 
  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
 <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
 <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
 <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

 <script>
  $("#carouselButton").click(function(){
           if ($("#carouselButton").children("span").hasClass('fa-pause')) {
               $("#mycarousel").carousel('pause');
               $("#carouselButton").children("span").removeClass('fa-pause');
               $("#carouselButton").children("span").addClass('fa-play');
           }
           else if ($("#carouselButton").children("span").hasClass('fa-play')){
               $("#mycarousel").carousel('cycle');
               $("#carouselButton").children("span").removeClass('fa-play');
               $("#carouselButton").children("span").addClass('fa-pause');                    
           }
       });
</script>




</html>